---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = 'Astro学習ブログ';
---

<body>
  <BaseLayout pageTitle={pageTitle}>

  <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
  {allPosts.length === 0 && <p>まだ投稿がありません。</p>}
  {allPosts.frontmatter}
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
  </BaseLayout>
</body>
